<form action="" method="post">
  <p>
    <label for="<%= @login_param_name %>"><%= @login_param_name.to_s.t %></label>
    <input type="text" class="text" name="<%= @login_param_name %>" id="<%= @login_param_name %>" />
  </p>
  <input type="submit" value="Reset password" />
</form>